.modal-card {
  .card-header {
    align-items: center;
    padding-right: 1em;
  }
  .product-card {
    min-height: 40vh;
    padding: 0!important;
    .content {
      &.prices {
        display: flex;
        flex-direction: column;
        align-items: center;
        .row-buttons {
          white-space: nowrap;
        }
      }
      div {
        span {
          margin-left: 1.5em;
        }
      }
      .add-button {
        border-radius: 100%;
        width: 60px;
        height: 60px;
        position: absolute;
        bottom: 20px;
      }
    }
  }
  
}