html {
  scroll-behavior: smooth;
  --backgroundColor: #1d2b38;
}

body {

  div.columns {
    margin: 1px;
    .column {
      padding: 0;
    }
  }

  background-color: var(--backgroundColor);
  height: 100vh;
  overflow-x: hidden; 
  .list-container {
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: auto;
    max-height: calc(100vh - 225px);
    @media only screen and (max-width: 620px) {
      margin-bottom: 3rem;
    }

  }
  .navbar.is-dark {
    background-color:var(--backgroundColor); // lightsteelblue
  }

  .table {
    tbody {
      tr {
        th, td {
          vertical-align: middle;
        }
      }
    }
  }

  .modal-background {
    background-color: rgba(0, 0, 0, 0.6);
  }

  div.notification {
    padding: 0.5rem;
  }

  .the-footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 12rem;
    padding: 1rem;
    left: 1rem;
    
    @media only screen and (max-width: 768px) {
      flex-direction: row;
      padding: 0;
      padding-top: 0.6rem;
      top: auto;
      bottom: 0;
      left: 0.25rem;
      right: 0.25rem;
    }

    .footer-button {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      flex: 1;
      font-size: 0.6rem;
      margin: 15px auto;
      cursor: pointer;
      
      i {
        font-size: 2rem;
      }
    }
  }

}
