body {
  //background-color: rgb(0, 148, 126);
  //background-color: lightsteelblue;
  background-color:#1d2b38;
  height: 100vh;
  overflow-x: hidden;
  .list-container {
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: auto;
    max-height: calc(100vh - 220px);
    &::-webkit-scrollbar {
      width: 0px;
    }
  }
  .navbar.is-dark {
    background-color: #1d2b38; // lightsteelblue
  }

  .table {
    tbody {
      tr {
        th, td {
          vertical-align: middle;
        }
      }
    }
  }
}
