
body {
  /*background-color: rgb(0, 148, 126);*/
  background-color: #b0c4de; // lightsteelblue
  height: 100vh;
  .list-container {
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: auto;
    max-height: calc(100vh - 220px);
    &::-webkit-scrollbar {
      width: 0px;
    }
  }
}

hr {
  margin: 1rem 0!important;
}